<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </Pattern>
    </layout>
  </appender>
  <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
    <syslogHost>127.0.0.1</syslogHost>
    <facility>LOCAL6</facility>
    <suffixPattern>[%thread]: [MyDLP Audit] %msg</suffixPattern>
  </appender>
  <root level="error">
    <appender-ref ref="STDOUT"/>
  </root>
  <logger name="AUDIT" level="debug">
	<appender-ref ref="SYSLOG"/>  
  </logger>
</configuration>