/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace local "com.mydlp.ui.widget.*";
@namespace policy "com.mydlp.ui.widget.policy.*";
@namespace general "com.mydlp.ui.widget.general.*";
@namespace inventory "com.mydlp.ui.widget.policy.inventory.*";
@namespace rule "com.mydlp.ui.widget.policy.rule.*";


rule|RuleBox {
	borderStyle: solid;
	borderVisible: true;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
	paddingTop: 5;
	horizontalGap: 2;
	verticalGap: 0;
}

rule|RuleBoxComponentBase#labelBox {
	backgroundColor: #FFDDCC;
}

rule|RuleBoxComponentBase#labelBox #nameLabel {
	fontWeight: bold;
}

rule|RuleBoxComponentBase#actorBox {
	backgroundColor: #FFFFCC;
}

rule|RuleBoxComponentBase#matcherBox {
	backgroundColor: #00FFCC;
}

rule|RuleBoxComponentBase#actionBox {
	backgroundColor: #99FFCC;
}

rule|RuleBoxComponentBase#miscBox {
	backgroundColor: #00CCFF;
}

inventory|NewDialog mx|VBox {
	horizontalAlign: center;
	paddingBottom: 20;
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 10;
}

general|GenericDeleteDialog mx|VBox {
	horizontalAlign: center;
	paddingBottom: 20;
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 10;
}

