<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>MyDLP UI</display-name>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/application-context.xml</param-value>
  </context-param>

  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  
  <filter>
    <filter-name>sessionTimeoutFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  
  <filter>  
    <filter-name>policySessionFilter</filter-name>  
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>flushMode</param-name>
      <param-value>ALWAYS</param-value>
    </init-param>
    <init-param>
      <param-name>sessionFactoryBeanName</param-name>
      <param-value>policySessionFactory</param-value>
    </init-param>        
  </filter>
  
  <filter>  
    <filter-name>logSessionFilter</filter-name>  
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>flushMode</param-name>
      <param-value>ALWAYS</param-value>
    </init-param>
    <init-param>
      <param-name>sessionFactoryBeanName</param-name>
      <param-value>logSessionFactory</param-value>
    </init-param>        
  </filter>
  
  <filter>  
    <filter-name>reportSessionFilter</filter-name>  
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>flushMode</param-name>
      <param-value>ALWAYS</param-value>
    </init-param>
    <init-param>
      <param-name>sessionFactoryBeanName</param-name>
      <param-value>reportSessionFactory</param-value>
    </init-param>        
  </filter>

  <filter-mapping>  
    <filter-name>policySessionFilter</filter-name>  
    <url-pattern>/spring/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>  
    <filter-name>logSessionFilter</filter-name>  
    <url-pattern>/spring/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>  
    <filter-name>reportSessionFilter</filter-name>  
    <url-pattern>/spring/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>  
    <filter-name>logSessionFilter</filter-name>  
    <url-pattern>/download</url-pattern>
  </filter-mapping>
  
  <filter-mapping>  
    <filter-name>policySessionFilter</filter-name>  
    <url-pattern>/tools/uploader</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>sessionTimeoutFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
    <listener-class>com.mydlp.ui.framework.listener.TimeZoneListener</listener-class>
  </listener>
    
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- Spring Flex Integration 1.0  -->
  <servlet>
    <servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/application-web.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>proxyServlet</servlet-name>
    <servlet-class>com.mydlp.ui.framework.servlet.ProxyServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>downloadServlet</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>htmlPreviewServlet</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>syncServlet</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>receiveServlet</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>apiQueryServlet</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>exportServlet</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>toolsUploaderServlet</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>tokenServlet</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  
  <!-- Spring Flex Integration 1.0  -->
  <!-- Map all /messagbroker requests to the DispatcherServlet for handling -->
  <servlet-mapping>
    <servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
    <url-pattern>/spring/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>proxyServlet</servlet-name>
    <url-pattern>/proxy</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>downloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>syncServlet</servlet-name>
    <url-pattern>/sync</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>receiveServlet</servlet-name>
    <url-pattern>/receive</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>htmlPreviewServlet</servlet-name>
    <url-pattern>/htmlPreview</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>apiQueryServlet</servlet-name>
    <url-pattern>/api/query</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>exportServlet</servlet-name>
    <url-pattern>/export</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>toolsUploaderServlet</servlet-name>
    <url-pattern>/tools/uploader</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>tokenServlet</servlet-name>
    <url-pattern>/token</url-pattern>
  </servlet-mapping>
  
</web-app>
