/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace local "com.mydlp.ui.widget.*";
@namespace policy "com.mydlp.ui.widget.policy.*";
@namespace general "com.mydlp.ui.widget.general.*";
@namespace inventory "com.mydlp.ui.widget.policy.inventory.*";
@namespace rule "com.mydlp.ui.widget.policy.rule.*";
@namespace popup "com.mydlp.ui.widget.general.popup.*";
@namespace option "com.mydlp.ui.widget.option.*";

option|OptionContainer{
	fontWeight:bold;
	fontSize: "20";
}

rule|RuleBox {
	backgroundColor: #DDDDDD;
}

rule|RuleBox s|SkinnableContainer#labelBox #nameLabel {
	fontWeight: bold;
}

rule|RuleContainer s|Group s|Button {
	fontSize: "32"
}

s|Application {
	fontSize: "12";
}

.upButtonStyle {
	skinClass: ClassReference("com.mydlp.ui.skin.UpBitmapButton16Skin");
}

.downButtonStyle {
	skinClass: ClassReference("com.mydlp.ui.skin.DownBitmapButton16Skin");
}

.removeButtonStyle {
	skinClass: ClassReference("com.mydlp.ui.skin.RemoveBitmapButton16Skin");
}

.editButtonStyle {
	skinClass: ClassReference("com.mydlp.ui.skin.EditBitmapButton16Skin");
}

.addButtonStyle {
	skinClass: ClassReference("com.mydlp.ui.skin.AddBitmapButton16Skin");
}

.copyButtonStyle {
	skinClass: ClassReference("com.mydlp.ui.skin.CopyBitmapButton16Skin");
}